name: Run ais

concurrency:
  group: run-ais-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
  - cron:  '15,45 * * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    # cf. https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    
    - name: Increase git buffer size
      run: |
        git config --global http.postBuffer 1048576000
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: Install Chrome
      run: |
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
        google-chrome --version

    - name: Install xfvb
      run: |
        sudo apt-get install -y xvfb
       
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    
    - name: Run Python script
      run: |
        xvfb-run --server-args="-screen 0 1920x1080x24" python ais_ship_tracker_weather.py 
      env: # Set the secrets as env var
        AISSTREAM_API_KEY: ${{ secrets.AISSTREAM_API_KEY }}
      

    - name: Push CSV, JSON, GEOJSON files to repo
      uses: github-actions-x/commit@v2.9
      with:
        push-branch: 'main'
        commit-message: 'Update CSV, JSON, and GEOJSON files'
        force-add: 'true'
        files: "*.csv *.json *.geojson *.log"
        name: autoupdate


    
        
