name: Run updateLog

concurrency:
  group: run-ais-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
  - cron:  '0 2 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    # cf. https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    
    - name: Increase git buffer size
      run: |
        git config --global http.postBuffer 1048576000
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
           
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    
    - name: Run Python script
      run: |
        python ais_ship_logbook.py 
      env: # Set the secrets as env var
        GEONAMES_API_KEY: ${{ secrets.GEONAMES_API_KEY }}
      

    - name: Push PDF files to repo
      uses: github-actions-x/commit@v2.9
      with:
        push-branch: 'main'
        commit-message: 'Update PDF files'
        force-add: 'true'
        files: "*.pdf"
        name: autoupdate


    
        
